html,body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}







/* Scroll Bar  */
::-webkit-scrollbar
{
    width: 6px;
}

::-webkit-scrollbar-button
{
    color: #c29385;
}

::-webkit-scrollbar-thumb
{
    background: #c29385;
    border-radius: 8px;
}

::-webkit-scrollbar-track
{
    background: whitesmoke;
}

/* End of  Scroll Bar  */








#header
{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/pic5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}


/* NavBar */

.navbar-brand
{
    font-family: 'Lavishly Yours', cursive;
    font-size: 35px;
    color: whitesmoke;
}
.navbar-brand:hover
{
    color: #c29385;
    transition: 1s;
}


.nav-link
{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: whitesmoke;
}

.nav-link:focus
{
    color: #c29385;
}

.nav-link:hover
{
    color: #c29385;
    transition: 1s;

}

/* End of NavBar */





/* Hero Section  */

.logo
{
    width: 10em;
}

.banner-text
{
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
}

.banner-text:hover
{

    color: #c29385;
    transition: 1s;

    
}

.banner-par
{
    color: rgb(161, 159, 159);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    
}

#book-btn
{
    padding: 10px,10px,10px,10px;
    background-color: none;
    border-radius: 1px;
    color: whitesmoke;
    border: 1px solid #c29385;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0px 0px 2.9px 0.4px;

}

#book-btn:hover
{
    box-shadow: 0px 0px 2.9px 2px #c29385;
    transition: 2s;
    color: #c29385;

    
}

#call-btn
{
    background-color: none;
    border-radius: 1px;
    color: whitesmoke;
    border: 1px solid #c29385;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0px 0px 2.9px 0.4px;



}

.call
{
    text-decoration: none;
    color: whitesmoke;


}
.call:hover
{
    color: #c29385;


}

#call-btn:hover
{
    box-shadow: 0px 0px 2.9px 2px #c29385;
    transition: 2s;
    color: #c29385;

    
}


/* End of Hero Section  */



/* Section 2  */

#col1
{
    background-color: #c29385;
}

.about-text
{
    font-family: 'Montserrat', sans-serif;
    
}
.about-par
{
    font-family: 'Nunito', sans-serif;

}

.about-par2
{
    font-family: 'Montserrat', sans-serif;


}



/* Services */

.service-head
{
    font-family: 'Montserrat', sans-serif;

}

.card-img-top
{
    filter: brightness(30%);
}

.card-img-overlay
{
    color: whitesmoke;
}

.card-title
{
    font-family: 'Montserrat', sans-serif;

    
}

.card-text
{
    font-family: 'Nunito', sans-serif;


}


/* Blog Section  */
.blog-title
{
    font-family: 'Montserrat', sans-serif;

}









/* Newsletter */
.news-title
{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;


}
#news
{
    font-family: 'Montserrat', sans-serif;
    padding: 5px 14px 5px 2px;
    background-color: whitesmoke;
    border: none;
    border-radius: 2px;

    
}

#news:focus
{
    outline: none;
}


#submit
{
    background-color: transparent;
    border: 2px solid #c29385;
    border-radius: 2px;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    padding: 5px 10px 5px 10px;

}
/* End of  Newsletter */





/* Review Section */
/* .review-head
{
    font-family: 'Montserrat', sans-serif;


} */




/* Footer */

footer
{
    background-color: black;
}


.footer-text1
{
    font-family: 'Lavishly Yours', cursive;
    color: whitesmoke;


}


.footer-text2
{
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;



}

.socials
{
    list-style: none;

}

.social-imgs
{
    width: 25px;
}





.quick-text
{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;

    
}

.quick-link
{
    font-size: 19px;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;


}
.quick-link:hover
{
    color: #c29385;
}


.cont-imgs
{
    width: 25px;
    height: 25px;
}


.cont-imgs2
{
    width: 25px;
    height: 25px;

}


.cont-details
{
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    color: whitesmoke;
    text-decoration: none;

    

}

.cont-details:hover
{
    color: #c29385;

}
/* End of Footer */

/* Credit section */
.credits
{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #c29385;
    text-decoration: none;


    
}
.credits:hover
{
    color: whitesmoke;
}